<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="monitor-id" version="2.5">
    <display-name>monitor</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>monitorStatusServlet</servlet-name>
        <servlet-class>ru.bigbuzzy.monitor.web.MonitorStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>monitorStatusServlet</servlet-name>
        <url-pattern>/monitor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>timeLineChartStatusServlet</servlet-name>
        <servlet-class>ru.bigbuzzy.monitor.web.TimeLineChartMonitorStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>timeLineChartStatusServlet</servlet-name>
        <url-pattern>/timelinechart</url-pattern>
    </servlet-mapping>

</web-app>