<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <jee:jndi-lookup id="config" jndi-name="java:comp/env/monitoring/config" expected-type="java.lang.String"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <context:component-scan base-package="ru.bigbuzzy.monitor.dao"/>
    <context:component-scan base-package="ru.bigbuzzy.monitor.service"/>

    <bean id="httpResourceMonitor" class="ru.bigbuzzy.monitor.task.HttpResourceMonitor" destroy-method="destroy"/>
    <bean id="configModificationMonitor" class="ru.bigbuzzy.monitor.task.ConfigModificationMonitor"/>
    <bean id="cleanResourceStatusMonitor" class="ru.bigbuzzy.monitor.task.CleanResourceStatusMonitor">
        <constructor-arg value="${resource.status.history.expiredMillis}"/>
    </bean>

    <task:scheduler id="bigBuzzyScheduler" pool-size="10"/>

    <task:scheduled-tasks scheduler="bigBuzzyScheduler">
        <task:scheduled ref="configModificationMonitor" method="execute" cron="*/7 * * * * ?"/>
        <task:scheduled ref="httpResourceMonitor" method="execute" cron="*/10 * * * * ?"/>
        <task:scheduled ref="cleanResourceStatusMonitor" method="execute"
                        fixed-delay="${resource.status.history.expiredMillis}"/>
    </task:scheduled-tasks>

    <util:map id="defaultParams" key-type="java.lang.String" value-type="java.lang.Object">
        <entry key="mail.admin" value="${mail.admin}"/>
        <entry key="mail.default.from" value="${mail.default.from}"/>
    </util:map>

    <bean id="freemarkerConfiguration"
          class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPath" value="WEB-INF/freemarker"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="protocol" value="${mail.protocol}"/>
        <property name="port" value="${mail.port}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
</beans>